# This is an implementation of a roulette game

### Phase 1:
- Implement the game playing code

### Phase 2:

- Have a reinforcement learner play the game and identify the best strategy
- Start with 100k and track the balance over time

In [1]:
import pandas as pd
import numpy as np

In [ ]:
class roulette:
    
    # Board colours
    colours_dict = {'green': [0],
                    'red': [1,3,5,7,9,12,14,16,18,19,
                            21,23,25,27,30,32,34,36],
                    'black': [2,4,6,8,10,11,13,15,17,
                             20,22,24,26,28,29,31,33,35]}
    
    positions_df = pd.DataFrame(np.array(range(1,37)).reshape(12,7))
    
    def __init__(self):
        pass
    
    def play():
        return np.random.randint(low=0, high=37)

     0   1   2
0    1   2   3
1    4   5   6
2    7   8   9
3   10  11  12
4   13  14  15
5   16  17  18
6   19  20  21
7   22  23  24
8   25  26  27
9   28  29  30
10  31  32  33
11  34  35  36